<div>
  <h1 class="font-bold text-4xl">Pages#index</h1>
  <p>Find me in app/views/pages/index.html.erb</p>
  <% if current_user.admin? %>
    <%= link_to 'Admin Dashboard',  dashboard_path %>
  <% end %>
  <br>
  <% if current_user.profile.rehearsal? %>
    <div>You are invited the Rehearsal! </div>
  <% end %>
  <br>
  <div>You are invited to the Wedding!</div>
</div>
